<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application Home Page</title>
</head>
<body>
    <h2>
        Welcome to our api endpoint. The one stop shop resource for first responders to effectively manage crises. 
        Please make requests in the form: 
        '/request/location=str:location&keywords=string:keyword&languages=string:languages'
        filling in variables appropriately to recieve a tweet response. One reponse per tweet.
        
        Future builds will link to the fronend and allow user to specify number of requests to make.
    </h2>
</body>
</html>